<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Evolutionary Summarizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <!-- <p>Parameters:</p> -->
    <h1>Discrete Differential Evolutionary Extractive Summarizer</h1>

    <form>
        <label>Population Size:</label>
        <input type="number" name="pop" min="50" max="500" step="50" value={{ pop }} required>

        <br>
        <label>Summary Length:</label>
        <input type="number" name="summ" min="0" max="1" step="0.05" value={{ summ }} required>

        <br>
        <label>Generations:</label>
        <input type="number" name="gens" min="100" max="1000" step="100" value={{ gens }} required>

        <br>
        <label>Crossover Rate:</label>
        <input type="number" name="cross" min="0" max="1" step="0.1" value={{ cross }} required>

        <br>
        <label>Scale Factor:</label>
        <input type="number" name="scale" min="0" max="1" step="0.1" value={{ scale }} required>

        <br>
        <label>Fitness Function:</label>
        <select name="fit" required>
          {% if fit == "coh_sep" %}
            <option value="coh_sep" selected="selected">Cohesion & Separation</option>
          {% else %}
            <option value="coh_sep">Cohesion & Separation</option>
          {% endif %}

          {% if fit == "cohesion" %}
            <option value="cohesion" selected="selected">Cohesion</option>
          {% else %}
            <option value="cohesion">Cohesion</option>
          {% endif %}

          {% if fit == "separation" %}
            <option value="separation" selected="selected">Separation</option>
          {% else %}
            <option value="separation">Separation</option>
          {% endif %}
        </select>

        <br>
        <label>Similarity Metric:</label>
        <select name="sim" required>
          <option value="jaccard">Jaccard Similarity</option>
        </select>

        <br>
        <textarea required rows="10" name="txt_in" placeholder="Enter text to summarize.">{{ txt_in }}</textarea>

        <br>
        <textarea required rows="10" name="txt_out" readonly placeholder="Summary output.">{{ txt_out }}</textarea>


        <br>
        <input type="submit" name="submit" value="Summarize">

    </form>

    <form>
        <input type="submit" value="Clear Fields">
    </form>

  </body>
</html>
